h1{
    color:brown;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: cornsilk;

}
.heading{
    background-color: rgb(200, 100, 237);
}
.box{
    height:100px;
    width:100px;
    border:2px solid red;
    margin:2px;
}